.makeStyles-root-1,
.makeStyles-root-6,
.makeStyles-root-4,
.makeStyles-root-9,
.makeStyles-root-10 {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
.mainBlock {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.MuiTableCell-head {
  color: rgba(150, 0, 0, 0.87);
  font-weight: 700;
  line-height: 1rem;
}
